<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nbApi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <img
        type="img"
        src="{{ url_for('static', filename='gif.gif') }}"
        height="600px"
        width="600px"
        style="
        padding: 10rem;
        margin-left: 12rem;
         "
        
      ></img>
    </div>
   
</body>
</html>